.bigcard-conteiner {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 35px;
  width: 400px;
  height: auto;
  padding: 25px;

  background-color: bisque;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
  z-index: 100;
}

.bigcard-conteiner p {
  padding: 0px;
  margin: 0px;
  font-size: 26px;
  font-weight: 700;
}

.bigcard-conteiner p span {
  font-style: italic;
  text-decoration: underline;
}